.MainSlider{
    background-image: url("https://cdn.shopify.com/s/files/1/0052/7551/6995/files/Homepage-Banner-bAG-Reveal-Recovered-2_2048x.gif?v=1656613045");
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-position:70% auto;
    background-position: center top;
    background-size: cover;
}
